body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  color: white;
  background-color: blue;
  padding: 10px;
  flex: 1;
  font-size: 50px;
}
.banner img {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

.header-sec {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header,
.banner {
  flex: 1;
}
.more-fruit {
  text-align: center;
  color: blue;
  font-size: 50px;
}
.fir-fruit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sec-fruit {
  display: flex;
  justify-content: center;
}
.fir-fruit,
.sec-fruit {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}
.fir-fruit img,
.sec-fruit img {
  width: 700px;
}
footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
